-f https://data.pyg.org/whl/torch-2.3.0+cu121.html
-f https://graph-rspmm.github.io/rspmm/
neo4j==5.16.0
tqdm==4.66.*
torch==2.3.*
torch-geometric>=2.5.3
black==24.4.2
pytest==8.2.2
pytest-mock==3.14.0
wheel==0.43.0
setuptools==69.5.1
virtualenv==20.26.3
build==1.2.1
numpy==1.25
ninja==1.11.1.3
pyg-lib
torch-scatter
torch-sparse
rspmm-cuda==0.2.4
datasets
pyjson5